html {
    background-image: url('../static/back.jpg');
}

body {
    background: rgba(255,255,255, 0.6);
}

table tr {
    line-height: 12px;
}

table tr td:nth-child(1),
table tr td:nth-child(2) {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 3px;
    width: 20%;
    background: rgba(33,33,33, .3);
}